extends baseEmail
block content
    p Hi #{firstName},
    p Welcome to LUTS_PROJECT
    p Keenly monitor the following signs: 
    li Color of your Urine
    li Bad Urine smell
    li Genital Pain 
    li Pain in the back, belly or sides
    li Incontinence
    li Urinary frequency
    li Blood in urine
    li Weak flow of Urine
    li Difficulty in urination 
    li Number of times you urinate at night 
    li Loss of appetite 
    li Diarrhea 
    li Nausea and vomiting 
    li Small amount of urine 
    li Pain during urinating 
    li Unable to urinate 
    li Straining to urinate and burning pain on urination 
    p Incase of any of the above mentioned signs, Upload your voiding sound for results.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Upload Voiding Sound
    p Incase you find any difficulties in using the application please feel free to contact our support@gmail.com
    p - Godfrey Gattonya, CEO
    